.director-view {
    padding: 30px;
    margin-bottom: 30px;
    border: 0.3px solid grey;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  
  //body {
  //    padding-top: 120px;
  //  }
  
  